
.ganttchart0 {
    -fx-background-color: #00239E;
    -fx-opacity: 60%;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 1px;
}

.ganttchart1 {
    -fx-background-color: #005C9E;
    -fx-opacity: 60%;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 1px;
}

.ganttchart2 {
    -fx-background-color: #06B5C0;
    -fx-opacity: 60%;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 1px;
}

.ganttchart3 {
    -fx-background-color: #01AB3B;
    -fx-opacity: 60%;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 1px;
}

.ganttchart4 {
    -fx-background-color: #8FC001;
    -fx-opacity: 60%;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 1px;
}