.root {
    -fx-background-color: #1D1F2E;
}

.container {
    -fx-background-color: #272A3D;
    -fx-background-radius: 10px;
}

.hardwareLabel {
    -fx-font-size: 25px;
}

.hardwareHeader {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.bottomHeaders {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: #ffffff00;
}

.axis {
    -fx-tick-label-font-size: 0.833333em;
    -fx-tick-label-fill: white;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 1.5px;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 12px;
}

.data0.chart-pie { -fx-pie-color: #d15ffa; }
.data1.chart-pie { -fx-pie-color: #3700B4; }
.data2.chart-pie { -fx-pie-color: #7F39FB; }

#title {
    -fx-font-size: 33px;
    -fx-font-weight: bold;
}

.displayBar {
    -fx-background-color: #272A3D;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #5A57D8;
    -fx-border-width: 0.75px;
}

.nodeInfoText {
    -fx-font-size: 10px;
}

.pieInfoBox {
    -fx-background-color: #272A3D;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #5A57D8;
    -fx-border-width: 0.75px;
}

#title {
    -fx-font-size: 33px;
    -fx-font-weight: bold;
}

#nodeDisplay {
    -fx-background-color: #282626;
    -fx-background-radius: 10px;
}

#nodeWeight {
    -fx-font-weight: bold;
}

#displayTimer {
    -fx-background-color: #272A3D;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #5A57D8;
    -fx-border-width: 0.75px;
}

#progressBar .track {
    -fx-background-color: #272A3D;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #5A57D8;
    -fx-border-width: 0.75px;
}

#progressBar .bar {
    -fx-background-color: #5A57D8;
    -fx-background-radius: 10px;
}

#progressPercentage {
    -fx-font-size: 12px;
}

#startButton {
    -fx-background-color: #181818;
    -fx-text-fill: #FFFFFF;
    -fx-border-style: none;
}

.svgButton {
    -fx-background-color: transparent;
    -fx-border-style: none;
}

.svgButtonActive SVGPath {
    -fx-fill: #5A57D8;
}

.svgButtonActive:hover {
    -fx-cursor: hand;
}

.svgButton SVGPath {
    -fx-fill: #FFFFFF;
}

.svgButton:hover {
    -fx-cursor: hand;
}